name: CD with Gradle

on:
  push:
    branches: [ "dev-be" ]
  pull_request:
    branches: [ "dev-be" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: "corretto"
          cache: gradle

      - name: Gradle Caching
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make db-config.yml
        run: |
          cd ${{ github.workspace }}/src/main/resources
          echo "${{ secrets.DB_CONFIG }}" > ./db-config.yml
        shell: bash


      - name: Build with Gradle
        run: |
          chmod +x ${{ github.workspace }}/gradlew
          cd ${{ github.workspace }}
          ./gradlew build -x test

      - name: Docker build & push to docker repo
        run: |
          echo ${{ secrets.DOCKER_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          cd ${{ github.workspace }}
          docker build -f ./Dockerfile -t ${{ secrets.DOCKER_REPO }}:latest . 
          docker push ${{ secrets.DOCKER_REPO }}:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Safely remove existing container if it exists
            CONTAINER_ID=$(sudo docker ps -aq --filter name=airdnb)
            if [ ! -z "$CONTAINER_ID" ]; then
              sudo docker rm -f $CONTAINER_ID
            fi
            sudo docker pull ${{ secrets.DOCKER_REPO }}:latest
            sudo docker run -d -p 8080:8080 --name airdnb ${{ secrets.DOCKER_REPO }}:latest 
            sudo docker image prune -f
            sudo docker volume prune -f